name: Ruby CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ruby-version: [4.0, 3.4, 3.3, 3.2]
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - run: gem install bundler
    - run: bundle install --jobs 4 --retry 3
    - run: bundle exec rake test

  macos-test:
    runs-on: macos-latest
    strategy:
      matrix:
        ruby-version: [4.0, 3.4, 3.3, 3.2]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - run: gem install bundler --no-document --force
    - run: bundle install --jobs 4 --retry 3
    - run: bundle exec rake test
